:root{
 --primary-color: orange;
 --secondary-color:  rgb(43, 42, 42);
}

.primary-color{color: var(--primary-color)}
.secondary-color{color: var(--secondary-color)}

*{
  box-sizing: border-box;
  color: var(--secondary-color)
}